@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainFont: "Poppins", sans-serif;
  --subFont: "Inter", sans-serif;
  --mainColor: #545be8;
}

body {
  font-family: var(--mainFont);
}

.container {
  width: calc(100% - 120px);
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.active {
  font-weight: bold;
}
@media (max-width:992px){
  .container{
    width: 85%;
  }
}
@media (max-width:756px){
  .container{
    width: 90%;
  }
}
@media (max-width:450px){
  .container{
  width: 95%;
  }
}
